# REPLACE WITH YOUR OWN FIREBASE CONFIG
REACT_APP_FIREBASE_KEY="MDVJNVEIUNVIBEVKDMVLMDMV"
REACT_APP_FIREBASE_AUTH_DOMAIN="chatgptclone-373553.firebaseapp.com"
REACT_APP_FIREBASE_PROJECT_ID="chatgptclone-sjsj7"
REACT_APP_FIREBASE_STORAGE_BUCKET="chatgptclone-sjsj7.appspot.com"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="876582858"
REACT_APP_FIREBASE_APP_ID="1:876582858:web:vxe25ergxe23fxg23efr3"
REACT_APP_FIREBASE_MEASUREMENT_ID="G-GKGKR23H2H23"
